<div align=center>
    <h1> Welcome to Online Book store </h1>
</div>

<div>      
    <br>
    <h3>  
        &nbsp;&nbsp;&nbsp;&nbsp;<a routerLink=adminlog> Admin Login </a> &nbsp;&nbsp;&nbsp; <a routerLink=userlog> User Login </a> &nbsp; &nbsp;&nbsp; <a routerLink=reg> Sign up </a> &nbsp; &nbsp;&nbsp; <a routerLink=products> View Books </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a routerLink=cart> My cart </a>  
    </h3>    
</div>

<router-outlet> </router-outlet>