<h2 mat-dialog-title>Admin Login</h2>
<mat-dialog-content class="mat-typography">
        <form [formGroup]="adminForm" (ngSubmit)="adLogin()">
  
            <label>
              Username:
              <input type="text" formControlName="userName" required>
            </label>
          <br>
            <label>
              Password:&nbsp;
               <input type="password" formControlName="passWord" required>
            </label><br>
          </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <nav><button mat-raised-button color="primary" type="submit"[disabled]="!adminForm.valid" [mat-dialog-close]="true" cdkFocusInitial routerLink="/admin">Login</button></nav>
</mat-dialog-actions>
