
h2{
    text-align: center;
    color: indigo;
    font-size: 23px;
}
.products
{    
    height: 100%;
    width: 100%;
    box-shadow: indigo;
}
img{
    height: 60%;
    width: 100%;
    align-self: auto;
}
