<h2 mat-dialog-title>Sign Up Here!</h2>
<mat-dialog-content class="mat-typography">
        <form [formGroup]="regForm" (ngSubmit)="sigUp()">
  
            <label>
              First Name:
              <input type="text" formControlName="firstName" required>
            </label>&nbsp;
            <label>
              Last Name:
               <input type="text" formControlName="lastName" required>
            </label><br>
            <div formGroupName="address" required>
                <h3>Address</h3>
              
                <label>
                  Street:
                  <input type="text" formControlName="street" required>
                </label>
              <br>
                <label>
                  City:
                  <input type="text" formControlName="city" required>
                </label>
                <br>
                <label>
                  State:
                  <input type="text" formControlName="state" required>
                </label>
              <br>
                <label>
                  Zip Code:
                  <input type="text" formControlName="zip" required>
                </label>
              </div>
          </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
      
    <button mat-raised-button color="primary" type="submit"[disabled]="!regForm.valid" [mat-dialog-close]="true" cdkFocusInitial (click)="openSnackBar('Registered Successfully! Please Login to continue...','Close')">Register</button>
</mat-dialog-actions>