<h2 mat-dialog-title>Sign Up Here!</h2>
<mat-dialog-content class="mat-typography">
        <form [formGroup]="regForm" (ngSubmit)="sigUp()">
  
            <label>
              Enter Name:
              <input type="text" formControlName="name" required>
            </label>
            <br>
            <label>
              Enter email:
               <input type="text" formControlName="email" required>
            </label>
            
            <br>
              <label>
                  Enter Contact no. :
                  <input type="text" formControlName="cno" placeholder=" " required>
                </label>
              <br>
                <label>
                  Set password:
                  <input type="password" formControlName="pass" required>
                </label>
                <br>
                <label>
                  Confirm Password:
                  <input type="password" formControlName="pass1" required>
                </label>
              <br>
          </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
      
    <button mat-raised-button color="primary" type="submit"[disabled]="!regForm.valid" [mat-dialog-close]="true" cdkFocusInitial (click)="onsub()">Register</button>
</mat-dialog-actions>